*{

  text-align: center;
}

.counter{
  margin-top: 5rem;
  
}
.count{
  color:rgb(26, 4, 103);
  font-size:2rem;
  border: solid;
  border-radius: 15px;
  background-color: rgb(244, 246, 181);
  
  

}

button {
cursor:pointer;
border: solid 2ps;
border-color: black;
margin: 5px;
color:rgb(8, 1, 16);
border-radius:5px;
font-size: 1.5rem;
width:5rem;

}

.btn_dec{
background-color: rgb(26, 209, 237);

}
.btn_inc{
background-color: rgb(26, 209, 237);
}

.btn_minus_2{
background-color: rgb(19, 234, 15);
}

.btn_plus_5{
background-color: rgb(19, 234, 15);
}

.btn_reset{
background-color: rgb(235, 19, 19);
width: max-content;
}
        
.btn_cou{
background-color: rgb(211, 242, 212);
width: max-content;
width:5rem;
text-align: center;
}

.txt_proj{
margin-top: 5px;
margin-right: 5px;
margin-left: 50rem;
border:solid;
background-color: rgb(234, 208, 231);
border-radius: 15px;
}

.btn_time{
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 50rem;
  border:solid;
  background-color: rgb(234, 208, 231);
  border-radius: 15px;
}

.inp_numb{

  border:solid;
  background-color: rgb(234, 208, 231);
  border-radius: 10px;
  font-size:1.5rem;
}